
<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>菜单</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav">
                   <li><a class="linkToHome" href="javascript:void(0)">我的公文包</a></li>
                   <li><a class="linkToList" href="javascript:void(0)">列表</a></li>
                   <!-- Refer Bootstrap navbar doc -->
                   <li class="dropdown">
                      <a href="./login1.html#" class="dropdown-toggle" data-toggle="dropdown">Pages #1 <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="./landing-page.html">Landing Page</a></li>
                        <li><a href="./pricing.html">Pricing Table</a></li>
                        <li><a href="./service-3.html">Service</a></li>
                        <li><a href="./support.html">Support</a></li>
                        <li><a href="./sitemap.html">Sitemap</a></li>
                        <li><a href="./timeline.html">Timeline</a></li>
                        <li><a href="./404.html">404</a></li>
                        <li><a href="./faq.html">FAQ</a></li>
                        <li><a href="./register1.html">Register</a></li>
                        <li><a href="./Metro Mania_files/Metro Mania.htm">Login</a></li>
                      </ul>
                   </li>
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
	<div class="container">
	  <!--content_tag-->
	</div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
          <div class="copy">
            <h6>你好 <span class="color">嗯嗯</span></h6>
            <p>版权 © <a href="./login1.html#">本站</a> - <a href="./index.html">主页</a> | <a href="./aboutus.html">关于我们</a> | <a href="./faq.html">常见问题</a> | <a href="./contactus.html">联系我们</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 