    <button class="linkToPage btn" data-page="<%=pagination.first_page%>" style="float:left">&lt;&lt;</button>
    <button class="linkToPage btn" data-page="<%=pagination.pre_page%>" style="float:left">&lt;</button>
    <span style="float:left"><input value="<%=pagination.cur_page%>" style="width:20px"></input></span>
    <button class="linkToPage btn" data-page="<%=pagination.next_page%>" style="float:left">&gt;</button>
    <button class="linkToPage btn" data-page="<%=pagination.last_page%>" style="float:left">&gt;&gt;</button>